
@model EmployeeTravel.Models.Travel

<td>

    @Html.DisplayFor(model => model.TravelStartdate)

</td>

<td>

    @Html.DisplayFor(model => model.TravelEnddate)

</td>

<td>

    @Html.DisplayFor(model => model.TravelSource)

</td>

<td>

    @Html.DisplayFor(model => model.TravelDestination)

</td>

