
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>Register Successful</h2>
<body background="~/Images/1.jpg ">

    Your Registration is successful with Employee ID  @ViewBag.EmployeeID
    <br>

    @Html.ActionLink("Back to Home", "Index")

</body>