
@{
    ViewBag.Title = "TravelSuccess";
}

<h2>TravelSuccess</h2>
<body background="~/Images/1.jpg ">

    Your Bokking has been Confirmed with Travel Id @ViewBag.TravelID

    <br>
    @Html.ActionLink("Back to Home", "Home")

</body>